.af-workspace {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  .af-workspace-side-bar {
    display: flex;
    width: 55px;
    background-color: #242935;
    padding-top: 50px;
  }

  .af-workspace-body {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    padding-top: 50px;

    .af-workspace-content {
      display: flex;
      flex-grow: 1;
    }
  }
}
