@import '../../../variables.less';

.af-workspace-app-bar {
  display: flex;
  position: absolute;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  padding-left: 18px;
  padding-right: 18px;
  color: white;
  background-color: @af-app-bar-bg;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  z-index: 1;

  .titles {
    display: flex;
    height: 100%;
    align-items: center;

    h1 {
      font-size: @font-size-h3;

      .logo-icon {
        width: @font-size-h3;
        margin-right: 12px;
      }
    }

    .app-title {
      margin-left: 12px;
      font-size: @font-size-h4;
    }
  }

  > nav.right {
    margin-left: auto;
  }
}
