@import '../../../variables.less';

.af-workspace-app-bar {
  display: flex;
  align-items: center;
  height: 50px;
  padding-left: 18px;
  padding-right: 18px;
  color: white;
  background-color: @af-primary-color;

  h1 {
    font-size: @font-size-h3;

    .logo-icon {
      width: @font-size-h3;
      margin-right: 12px;
    }
  }

  .app-title {
    margin-left: 12px;
    font-size: @font-size-h4;
  }
}
