@import '../../../variables.less';

.af-workspace-app-nav-list {
  display: flex;
  width: 100%;

  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;

    li {
      width: 100%;
      text-align: center;

      a {
        display: block;
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
        color: #888;
        font-size: @font-size-base * 1.5;
        cursor: pointer;
      }

      a.selected,
      a:hover {
        color: #f0f0f0;
      }

      a.selected {
        background: black;
      }
    }
  }
}
