@import '../../../../variables.less';

.cd-progress-bar {
  @height: 6px;

  position: relative;
  width: 200px;
  height: @height;
  background: @lightBlue200;

  .percentage {
    position: absolute;
    left: 0;
    bottom: 10px;
    width: 100%;
    height: @height;
    line-height: @height - 2;
    text-align: center;
  }

  .block {
    position: absolute;
    left: 0;
    top: 0;
    height: @height;
    background-color: @lightBlue800;
  }
}
