@import '../../../../variables.less';

.cd-app {
  display: flex;
  width: 100%;
  height: 100%;

  > .cd-side-bar {
    display: flex;
    width: 200px;
    border-right: @border;
    background: @af-side-bar-bg;
  }

  > .cd-content {
    display: flex;
    flex-grow: 1;
    background: #fbfbfd;
  }
}
